
#Order {
  flex-grow: 1;
  display: flex;
  position: relative;
  justify-content: center;
}

#Order-form-wrapper {
  min-width: 400px;
  min-height: 400px;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  border: 5px solid #dfe6e9;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

#Order-form {
    margin: 5px;
    text-align: center;
  }
  
  #Order-form > p {
    font-size : 50px;
    margin-bottom: 35px;
  }
  
  #Order-form label {
    display: flex;
    margin: var(--basic-margin-size);
  }
  
  #Order-form input {
    background-color: #b2bec3;
    border: 1px solid #dfe6e9;
    transition: all 200ms ease-in;
    border-radius: 3px;

    &:hover {
      box-shadow: -1px -1px 5px 5px #74b9ff, 1px 1px 5px 5px #74b9ff;
    }
  }
  
  #Order-form-button {
    width: 230px;
    margin: var(--basic-margin-size);
    border: 1px solid #b2bec3;
    color: black;
    font: bold 1rem NanumGothic, sans-serif;
    transition: all 200ms ease-in;

    &:hover {
      color: white;
      background-color: #0984e3;
      box-shadow: -1px -1px #74b9ff, 1px 1px #74b9ff;
    }
  }

  #Loading {
    min-width: 450px;
    height: 450px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
  }

  .Loading-icon {
    color:  white;
    border-radius: 100%;
    background-color: black;
    background: lighten(red, 20%);
    min-width: 100px;
    min-height: 100px;
    animation: Loading-spin infinite 20s linear;
  }

  .inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-color: white;
  }

  @keyframes Loading-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }